body {
    background-color:deepskyblue;
    font-family: 'Segoe UI', sans-serif;
  }
  .hero {
    color:black;
    padding: 100px 20px;
    text-align: center;
    
  }
  footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 35vh;
  }
  a:hover {
    background-color: blue;
    border-radius: 25px;
    padding: 10px;
  }